{% extends "base_generic.html" %}

{% block content %}
{% load staticfiles %}
<h1>Cards</h1>


{% if author_list  %}

{% if author_list|length != 1 %}

  
    
    <meta http-equiv="REFRESH" content="0;url={{ author_list.1.get_absolute_url }}">

 
   

{% endif %}
{% if author_list|length == 1 and author_list.0.card == "0" and author_list.0.bb == 0 %}

<p>Загрузка карт....</p>
<img src="{% static 'images/'%}back.jpg" alt="Smiley face" height="300" width="200">
<img src="{% static 'images/'%}back.jpg" alt="Smiley face" height="300" width="200">
<script type="text/javascript">
	window.setTimeout(function () {
    location.href = "{% url 'catalog:authors' %}";
}, 5000); // refresh/redirect after 5 seconds.
</script>
{% if user.is_staff %}
<form action="{% url 'catalog:author_delete' author_list.0.id %}" method="post">
{% csrf_token %} 

<br>
<input type="submit" value="End game">
</form>
{% endif %}

{% endif %}





{% else %}
<script type="text/javascript">
	window.setTimeout(function () {
    location.href = "{% url 'catalog:authors' %}";
}, 5000); // refresh/redirect after 5 seconds.
</script>
  <p>В данный момент нет активной сессии</p>
  <p>Для того, чтобы начать игру, зайдите в 'Enter cards' и создайте карту с полями '0','0' </p>
  <p>После окончания игры не забудьте нажать 'End game'</p>

{% endif %}
        
        
        
{% endblock %}

