{% extends "base_generic.html" %}
{% block content %}
{% load staticfiles %}
<!--<h1>Cards</h1>-->
{% if author_list %}
{% if author_list|length != 1 %}
<p>Ожидайте перехода на актуальную карту</p>
<script type="text/javascript">
window.setTimeout(function() {
    location.href = "{% url 'catalog:authors' %}";
}, 12000); // refresh/redirect after 5 seconds.
</script>
{% if author_list|length != 1 %}
<meta http-equiv="REFRESH" content="0;url={{ author_list.1.get_absolute_url }}">
{% endif %}
{% endif %}
{% if author_list|length == 1 and author_list.0.card == "0" and author_list.0.bb == 0 %}
<!--<p>Загрузка карт....</p>
<img src="{% static 'images/'%}back.jpg" alt="Smiley face" height="300" width="200">
<img src="{% static 'images/'%}back.jpg" alt="Smiley face" height="300" width="200">-->
{% if not user.is_staff %}
<form class="butts">
<button class="downloads-cards" type="submit" name="btn" value="{{ choice.id }}">
    <p>
    	Загрузка карт...
    </p>
</button>
</form>
{% endif %}
<script type="text/javascript">
window.setTimeout(function() {
    location.href = "{% url 'catalog:authors' %}";
}, 10000); // refresh/redirect after 5 seconds.
</script>
{% if user.is_staff %}
<form action="{% url 'catalog:start_game' %}" method="post">
    {% csrf_token %}
    Start game: <input type="checkbox" name="game_start" {% if author_list.0.id %}checked{% endif %}><br>
    BigBlind: <input type="text" name="bigblind" value="{{ bb_value }}"><br>
    <br>
    <input type="submit" value="Save">
</form>
{% endif %}
{% endif %}
{% else %}
<script type="text/javascript">
window.setTimeout(function() {
    location.href = "{% url 'catalog:authors' %}";
}, 10000); // refresh/redirect after 5 seconds.
</script>
{% if user.is_staff %}
<form action="{% url 'catalog:start_game' %}" method="post">
    {% csrf_token %}
    Start game: <input type="checkbox" name="game_start"><br>
    BigBlind: <input type="text" name="bigblind" required value="{{ bb_value }}"><br>
    <br>
    <input type="submit" value="Save">
</form>
{% endif %}
{% if not user.is_staff %}
<form class="butts">
<button class="active-session" type="submit" name="btn">
    <p>
        В данный момент нет активной сессии...
    </p>
</button>
</form>
{% endif %}
{% endif %}
{% endblock %}